<div class="buttons">
  <button mat-raised-button color="primary" (click)="addElement('type1')">Add Type 1</button>
  <button mat-raised-button color="success" (click)="addElement('type2')">Add Type 2</button>
  <button mat-raised-button color="warn" (click)="addElement('type3')">Add Type 3</button>
</div>
<div #container class="main-container" >
  <app-element
    *ngFor="let element of elements$ | async; trackBy: trackById"
    class="element-container"
    [appJsPlumb]="containerElement"
    [connections]="connections"
    [config]="element"
    (removeElement)="removeElement(element.id)"
    (startConnectionEvent)="handleStartConnection($event)"
    (updateElement)="updateElement($event)">
  </app-element>
</div>
