<mat-card [id]="config.id">
  <div class="ep">{{ config.type }}</div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="config.name">
  </mat-form-field>
  <div *ngFor="let input of inputs; let i = index">
    <mat-form-field>
      <mat-label>Input {{i + 1}}</mat-label>
      <input matInput [(ngModel)]="config.inputs[i]">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="startConnection()">+</button>
  <button mat-raised-button color="warn" (click)="remove()">Usuń</button>
</mat-card>
