mat-card {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  .mat-form-field {
    width: 100%;
  }
}
.type1-card {
  background-color: lightblue;
}

.type2-card {
  background-color: lightgreen;
}

.type3-card {
  background-color: lightcoral;
}
